*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

button{
    background-color: #4CAF50;
    color: white;
    padding: 10px 30px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    position: absolute;
    z-index: 3;
}

button:active{
    scale: 0.95;
}